.App {
  text-align: center;
}

body {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(2vw);
  color: white;
}

@media screen and (min-width: 600px) {
  body {
    font-size: 15px;
  }
}

